@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CookieRun";
  src: url("./fonts/CookieRun.otf");
}

body {
  color: rgb(0.4, 0.4, 0.4);
  background-color: rgb(245, 244, 240);
  margin: 0;
  font-family: "CookieRun", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "CookieRun", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  background-color: black;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1140px) {
  .c-container {
    max-width: 1140px;
  }
}

.c-container {
  width: 100%;
  flex-direction: column;
}

.Header-section {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title-section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}